**/node_modules

docs/.vuepress/.cache
docs/.vuepress/.temp
docs/.vuepress/dist
docs/.vuepress/collections/typedoc-sidebar.json

.DS_Store
*.log

docs/auto-imports.d.ts
docs/components.d.ts

docs/guide/api/types